<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
</head>
<body class="body">

	<main>
		{{{ body }}}
	</main>

	<footer>

	</footer>
  <script>
    var appData = {
      movies : {{{ data }}}
    }
  </script>
	{{#if mainpage}}
  	<script src="/js/main.js"></script>
	{{/if}}

	{{#if videopage}}
		<script src="/js/videoVM.js"></script>
	{{/if}}
</body>
</html>
